<% @article.comments.each do |comment| %>
<div id="<%= dom_id comment %>" class="card card-body mb-3">
    <%= comment.commentBody %>

    <%= comment.user.email %>

    <% if user_signed_in? && comment.user_id == current_user.id %>
      <div>
        <%= link_to 'Delet', [@article, comment], method: :delete, data: {turbo_method: :delete}, class: 'btn btn-sm btn-danger rounded-0 mt-3' %>
      </div>
    <% end %>

</div>
<% end %>