<footer class="bg-white py-3">
  <div class="container">
    <div class="row text-center">
      <dic class="col">
        <p class="mb-0">All right reserved &copy; 2024</p>
      </div>
    </div>
  </div>
</footer>