/*
----------------------------------------
Variables
----------------------------------------
*/
$body_bg: #FFF7F1;
$secondary-bg: #BED1CF;



/*
----------------------------------------
Generic Styling
----------------------------------------
*/ 
body{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $body_bg;
  font-size: 1.15rem;
}



/*
----------------------------------------
Font Styling
----------------------------------------
*/
.onest-normal{
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cabin-regular {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lora-regular {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




/*
----------------------------------------
Bootstrap Customization Styling
----------------------------------------
*/