/*
----------------------------------------
Variables
----------------------------------------
*/
$body_bg: #FFF7F1;
$secondary-bg: #BED1CF;



/*
----------------------------------------
Generic Styling
----------------------------------------
*/ 
body{
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $body_bg;
}



/*
----------------------------------------
Font Styling
----------------------------------------
*/
.onest-normal{
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/*
----------------------------------------
Bootstrap Customization Styling
----------------------------------------
*/