<div id="<%= dom_id category %>" class="card card-body rounded-0 shadow-sm mb-1">
  <span>
    <strong>Name:</strong>
    <%= category.name %>
  </span>

  <span>
    Total Articles Under <%= category.name %> <span class="badge bg-primary"><%= category.articles.count %></span>
  </span>
</div>
